body {
    font-family: sans-serif;
    background-color: grey;
    /* border: 5px solid white;
    min-height: calc(100vh - 15px); */
    margin: 0;
    padding: 0;
  }
  
  p {
    font-family: "Scribble", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }

  .header_top {
      background-color:grey;
      display: grid;
      grid-template-columns: 20vh 20vh 20vh 20vh 80vh;
      grid-gap: 10px;
  }

  .button {
      background-color: navy;
      margin-left: 10px;
  }

  .header_middle {
      background-color: navy;

  }

  .header_bottom {
      background-color: lightblue;

  }