body {
    font-family: sans-serif;
    background-color: rgb(65, 87, 39);
    /* border: 5px solid white;
    min-height: calc(100vh - 15px); */
    margin: 0;
    padding: 0;
  }
  
  p {
    font-family: "Scribble", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }

  .header {
    display: grid;
    grid-gap: 430px;
    grid-template-columns: 40vh 100vh;
    border: 5px solid: white;
    background-color: black;
    height: 50px;
    margin: auto;
  }

  .logo {
    border: 5px solid;
    background-color: red;
  }

  .menu {
    border: 5px solid;
    background-color: tan;
  }

  .ad {
    background-color: rgb(65, 87, 39);
  }

  .title {
    background-color: tan;
    margin: auto;
    height: 40px;
    width: 60vw;
    margin-top: 200px;
  }

  .search {
    background-color: tan;
    margin: auto;
    height: 100px;
    width: 80vw;
    margin-top: 10px;

  }

  .categories {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 30vh 30vh 30vh 30vh 30vh;
    background-color: black;
    height: 70px;
    margin: auto;
    margin-top: 300px;
  }

  .sneakers{
    background-color: red; 
    height: 35px;
    margin-bottom: 10px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 10px;
  }

  .streetwear {
    background-color: red;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 10px;

  }

  .collectibles {
    background-color: red;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 10px;

  }

  .handbags {
    background-color: red;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 10px;

  }

  .watches {
    background-color: red;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 10px;

  }

  .texts {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 30vh 30vh;
    background-color: tan;
    height: 100px;
    margin: auto;
    margin-top: 100px;
  }

  .text {
    background-color: red;
    margin-left: 100px;
    margin-top: 10px;
    width: 400px;
  }
  .see_all {
    background-color: red;
    margin-left: 850px;
    margin-top: 10px;
    width: 100px;
  }


  .popular {
    display: grid;
    grid-template-columns: 30vh 30vh 30vh 30vh;
    grid-gap: 20vh;
    background-color: tan;
    height: 300px;
  }

  .image {
    background-color: red;
    width: 200px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
  }

    .most {
    display: grid;
    grid-template-columns: 20vh 20vh 20vh 20vh 20vh;
    grid-gap: 10vh;
    background-color: tan;
    height: 300px;
    margin: auto;
  }

  .shoe {
    background-color: red;
    width: 200px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 100px;
  }

  .button {
    background-color: red;
    margin-left: 350px;
    margin-right: 400px;
    margin-top: 10px;
  }

  .browse {
    width: 300px;
    height: 100px;

  }

  .news {
    background-color: black;
    display: grid;
    grid-template-columns: 30vh 50vh 20vh;
    height: 100px;
    margin-top: 30px;
  }

  .latest {
    background-color: red;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  .release {
    background-color: red;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  .see_all {
    background-color: red;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 10px;

  }





  